<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loguin</title>
</head>
<body>
    
    <div>
    <h1>Digite seu usuário e senha para continuar </h1>
    </div>
    <div class="container">
        <h1>Digite seu usuário e senha para continuar </h1>
        <form method="POST" action="/loguin">
            
            <label for="username">Loguin:</label>
            <input type="text" id="username" name="username">
            <label for="Senha" >Senha</label>
            <input type="password" id="senha" name="senha">
          
         

          <section class="btnSection">

              <button type="submit" id="btnEnviar">Enviar</button>
          </section>

            
            
          </form>
    </div>
</body>
</html>